# 1 - Imports

In [3]:
%reload_ext autoreload
%autoreload 2

In [4]:
import sys
from pathlib import Path

sys.path.append(str(Path().resolve().parents[0]))

In [5]:
import pandas as pd
import numpy as np

In [6]:
from src.utils import templates, config, io

/Users/hippolytegrandet/Desktop/Dev/country_risk_rating/.venv/lib/python3.9/site-packages/pypdf/_crypt_providers/_cryptography.py:32: CryptographyDeprecationWarning: ARC4 has been moved to cryptography.hazmat.decrepit.ciphers.algorithms.ARC4 and will be removed from cryptography.hazmat.primitives.ciphers.algorithms in 48.0.0.
  from cryptography.hazmat.primitives.ciphers.algorithms import AES, ARC4

# 1 - Retrieving Features Descriptions

In [7]:
from src.extraction import dbnomics_client

In [19]:
import pandas as pd
import dbnomics

def format_api_link(provider: str, dataset: str, indicator: str) -> str:
    """get api link for the indicator.

    Args:
        provider (string): name of the provider of the indicator.
        dataset (string): name of the dataset of the indicator.
        indicator (string): name of the indicator.

    Returns:
        string: formated api link, to get indicator df from dbnomics api.
    """

    link_p1 = 'https://api.db.nomics.world/v22/series/'
    link_p3 = '%22%5D%7D&observations=1'

    if provider == 'WB':
        link_p2 = '?dimensions=%7B%22indicator%22%3A%5B%22'
    elif provider == 'IMF':
        link_p2 = '?dimensions=%7B%22INDICATOR%22%3A%5B%22'
        # link_p3 = link_p3 + '&q=imf'
    else:
        return ''

    api_link = link_p1 + provider + '/' + dataset + link_p2 + indicator + link_p3
    return api_link

def fetch_indicator(provider: str, dataset: str, indicator: str) -> pd.DataFrame:
    """get unformated indicator df from dbnomics api.
    Args:
        provider (string): name of the provider of the indicator.
        dataset (string): name of the dataset of the indicator.
        indicator (string): name of the indicator.
    Returns:
        DataFrame: indicator df from dbnomics api.
    """

    api_link = format_api_link(provider, dataset, indicator)
    try:
        df_indicator = dbnomics.fetch_series_by_api_link(
            api_link,
            max_nb_series=600
        )
        print(df_indicator)
    except Exception:
        print('Error Fetching Series for indicator', indicator)
        df_indicator = pd.DataFrame()

    return df_indicator

In [25]:
df = dbnomics.fetch_series(
    api_base_url='https://api.db.nomics.world/v22/',
    provider_code='AMECO',
    dataset_code='ZUTN',
)
df

,@frequency,provider_code,dataset_code,dataset_name,series_code,series_name,original_period,period,original_value,value,freq,unit,geo,Frequency,Unit,Country
0,annual,AMECO,ZUTN,Unemployment rate: total :- Member States: def...,ALB.1.0.0.0.ZUTN,Annually – (Percentage of active population) –...,1960,1960-01-01,NA,NaN,a,percentage-of-active-population,alb,Annually,(Percentage of active population),Albania
1,annual,AMECO,ZUTN,Unemployment rate: total :- Member States: def...,ALB.1.0.0.0.ZUTN,Annually – (Percentage of active population) –...,1961,1961-01-01,NA,NaN,a,percentage-of-active-population,alb,Annually,(Percentage of active population),Albania
2,annual,AMECO,ZUTN,Unemployment rate: total :- Member States: def...,ALB.1.0.0.0.ZUTN,Annually – (Percentage of active population) –...,1962,1962-01-01,NA,NaN,a,percentage-of-active-population,alb,Annually,(Percentage of active population),Albania
3,annual,AMECO,ZUTN,Unemployment rate: total :- Member States: def...,ALB.1.0.0.0.ZUTN,Annually – (Percentage of active population) –...,1963,1963-01-01,NA,NaN,a,percentage-of-active-population,alb,Annually,(Percentage of active population),Albania
4,annual,AMECO,ZUTN,Unemployment rate: total :- Member States: def...,ALB.1.0.0.0.ZUTN,Annually – (Percentage of active population) –...,1964,1964-01-01,NA,NaN,a,percentage-of-active-population,alb,Annually,(Percentage of active population),Albania
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,annual,AMECO,ZUTN,Unemployment rate: total :- Member States: def...,USA.1.0.0.0.ZUTN,Annually – (Percentage of active population) –...,2023,2023-01-01,3.6,3.6,a,percentage-of-active-population,usa,Annually,(Percentage of active population),United States
64,annual,AMECO,ZUTN,Unemployment rate: total :- Member States: def...,USA.1.0.0.0.ZUTN,Annually – (Percentage of active population) –...,2024,2024-01-01,4.0,4.0,a,percentage-of-active-population,usa,Annually,(Percentage of active population),United States
65,annual,AMECO,ZUTN,Unemployment rate: total :- Member States: def...,USA.1.0.0.0.ZUTN,Annually – (Percentage of active population) –...,2025,2025-01-01,4.2,4.2,a,percentage-of-active-population,usa,Annually,(Percentage of active population),United States
66,annual,AMECO,ZUTN,Unemployment rate: total :- Member States: def...,USA.1.0.0.0.ZUTN,Annually – (Percentage of active population) –...,2026,2026-01-01,4.4,4.4,a,percentage-of-active-population,usa,Annually,(Percentage of active population),United States
67,annual,AMECO,ZUTN,Unemployment rate: total :- Member States: def...,USA.1.0.0.0.ZUTN,Annually – (Percentage of active population) –...,2027,2027-01-01,4.3,4.3,a,percentage-of-active-population,usa,Annually,(Percentage of active population),United States

In [26]:
df['series_name'].value_counts()

series_name
Annually – (Percentage of active population) – Albania                              68
Annually – (Percentage of active population) – Australia                            68
Annually – (Percentage of active population) – Austria                              68
Annually – (Percentage of active population) – Belgium                              68
Annually – (Percentage of active population) – Bulgaria                             68
Annually – (Percentage of active population) – Canada                               68
Annually – (Percentage of active population) – Switzerland                          68
Annually – (Percentage of active population) – Cyprus                               68
Annually – (Percentage of active population) – Czech Republic                       68
Annually – (Percentage of active population) – EA12 (including D_W West-Germany)    68
Annually – (Percentage of active population) – Germany                              68
Annually – (Percentage of active population) – Denmark                              68
Annually – (Percentage of active population) – EU15 (including D_W West-Germany)    68
Annually – (Percentage of active population) – West Germany                         68
Annually – (Percentage of active population) – Euro area (12 countries)             68
Annually – (Percentage of active population) – Euro area (19 countries)             68
Annually – (Percentage of active population) – Euro area (20 countries)             68
Annually – (Percentage of active population) – Spain                                68
Annually – (Percentage of active population) – Estonia                              68
Annually – (Percentage of active population) – European Union (15 countries)        68
Annually – (Percentage of active population) – European Union                       68
Annually – (Percentage of active population) – Finland                              68
Annually – (Percentage of active population) – France                               68
Annually – (Percentage of active population) – United Kingdom                       68
Annually – (Percentage of active population) – Greece                               68
Annually – (Percentage of active population) – Croatia                              68
Annually – (Percentage of active population) – Hungary                              68
Annually – (Percentage of active population) – Ireland                              68
Annually – (Percentage of active population) – Iceland                              68
Annually – (Percentage of active population) – Italy                                68
Annually – (Percentage of active population) – Japan                                68
Annually – (Percentage of active population) – Korea                                68
Annually – (Percentage of active population) – Lithuania                            68
Annually – (Percentage of active population) – Luxembourg                           68
Annually – (Percentage of active population) – Latvia                               68
Annually – (Percentage of active population) – North Macedonia                      68
Annually – (Percentage of active population) – Malta                                68
Annually – (Percentage of active population) – Montenegro                           68
Annually – (Percentage of active population) – Netherlands                          68
Annually – (Percentage of active population) – Norway                               68
Annually – (Percentage of active population) – New Zealand                          68
Annually – (Percentage of active population) – Poland                               68
Annually – (Percentage of active population) – Portugal                             68
Annually – (Percentage of active population) – Romania                              68
Annually – (Percentage of active population) – Serbia                               68
Annually – (Percentage of active population) – Slovakia                             68
Annually – (Percentage of active population) – Slovenia                             68
Annually – (Percentage of active population) – Sweden                               68
Annually – (Percentage of active population) – Türkiye                              68
Annually – (Percentage of active population) – United States                        68
Name: count, dtype: int64

In [28]:
df = dbnomics.fetch_series(['WB/WDI/NY.ADJ.DPEM.GN.ZS'])
df

Could not load series: {'dataset_code': 'WDI', 'message': 'Could not load series', 'provider_code': 'WB', 'series_code': 'NY.ADJ.DPEM.GN.ZS'}

Empty DataFrame
Columns: []
Index: []

In [29]:
df3 = dbnomics.fetch_series("WB", "DB", dimensions={
    "country": ["FR", "IT", "ES"],
    "indicator": ["IC.REG.COST.PC.FE.ZS.DRFN"],
})
df3

Finished call to 'dbnomics._fetch_response' after 0.410(s), this was the 1st time calling it.
Finished call to 'dbnomics._fetch_response' after 1.337(s), this was the 2nd time calling it.
Finished call to 'dbnomics._fetch_response' after 3.258(s), this was the 3rd time calling it.

FetchError: Could not fetch data from URL 'https://api.db.nomics.world/v22/series/WB/DB?observations=1&dimensions={"country": ["FR", "IT", "ES"], "indicator": ["IC.REG.COST.PC.FE.ZS.DRFN"]}&offset=0'

In [31]:
df2 = dbnomics.fetch_series([
    'AMECO/ZUTN/EA19.1.0.0.0.ZUTN',
    'AMECO/ZUTN/DNK.1.0.0.0.ZUTN',
])
df2

,@frequency,provider_code,dataset_code,dataset_name,series_code,series_name,original_period,period,original_value,value,freq,unit,geo,Frequency,Unit,Country
0,annual,AMECO,ZUTN,Unemployment rate: total :- Member States: def...,EA19.1.0.0.0.ZUTN,Annually – (Percentage of active population) –...,1960,1960-01-01,NA,NaN,a,percentage-of-active-population,ea19,Annually,(Percentage of active population),Euro area (19 countries)
1,annual,AMECO,ZUTN,Unemployment rate: total :- Member States: def...,EA19.1.0.0.0.ZUTN,Annually – (Percentage of active population) –...,1961,1961-01-01,NA,NaN,a,percentage-of-active-population,ea19,Annually,(Percentage of active population),Euro area (19 countries)
2,annual,AMECO,ZUTN,Unemployment rate: total :- Member States: def...,EA19.1.0.0.0.ZUTN,Annually – (Percentage of active population) –...,1962,1962-01-01,NA,NaN,a,percentage-of-active-population,ea19,Annually,(Percentage of active population),Euro area (19 countries)
3,annual,AMECO,ZUTN,Unemployment rate: total :- Member States: def...,EA19.1.0.0.0.ZUTN,Annually – (Percentage of active population) –...,1963,1963-01-01,NA,NaN,a,percentage-of-active-population,ea19,Annually,(Percentage of active population),Euro area (19 countries)
4,annual,AMECO,ZUTN,Unemployment rate: total :- Member States: def...,EA19.1.0.0.0.ZUTN,Annually – (Percentage of active population) –...,1964,1964-01-01,NA,NaN,a,percentage-of-active-population,ea19,Annually,(Percentage of active population),Euro area (19 countries)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,annual,AMECO,ZUTN,Unemployment rate: total :- Member States: def...,DNK.1.0.0.0.ZUTN,Annually – (Percentage of active population) –...,2023,2023-01-01,5.1,5.1,a,percentage-of-active-population,dnk,Annually,(Percentage of active population),Denmark
64,annual,AMECO,ZUTN,Unemployment rate: total :- Member States: def...,DNK.1.0.0.0.ZUTN,Annually – (Percentage of active population) –...,2024,2024-01-01,6.2,6.2,a,percentage-of-active-population,dnk,Annually,(Percentage of active population),Denmark
65,annual,AMECO,ZUTN,Unemployment rate: total :- Member States: def...,DNK.1.0.0.0.ZUTN,Annually – (Percentage of active population) –...,2025,2025-01-01,6.1,6.1,a,percentage-of-active-population,dnk,Annually,(Percentage of active population),Denmark
66,annual,AMECO,ZUTN,Unemployment rate: total :- Member States: def...,DNK.1.0.0.0.ZUTN,Annually – (Percentage of active population) –...,2026,2026-01-01,6.1,6.1,a,percentage-of-active-population,dnk,Annually,(Percentage of active population),Denmark
67,annual,AMECO,ZUTN,Unemployment rate: total :- Member States: def...,DNK.1.0.0.0.ZUTN,Annually – (Percentage of active population) –...,2027,2027-01-01,6.0,6.0,a,percentage-of-active-population,dnk,Annually,(Percentage of active population),Denmark

In [21]:
df_indicator = fetch_indicator('IMF', 'WDI', 'NY.ADJ.DPEM.GN.ZS')
df_indicator

Finished call to 'dbnomics._fetch_response' after 0.179(s), this was the 1st time calling it.
Finished call to 'dbnomics._fetch_response' after 0.559(s), this was the 2nd time calling it.
Finished call to 'dbnomics._fetch_response' after 1.513(s), this was the 3rd time calling it.

Error Fetching Series for indicator NY.ADJ.DPEM.GN.ZS

Empty DataFrame
Columns: []
Index: []

# 2 - Querying LLM

In [ ]:
prompt = USER_TEMPLATE.format(
    name=row["indicator_name"],
    description=row["description"]
)

response = llm_client.chat(
    system=SYSTEM_PROMPT,
    user=prompt,
    temperature=0
)

results.append({
    "indicator_id": row["indicator_id"],
    "name": row["indicator_name"],
    "relevance_score": response["relevance_score"],
    "justification": response["justification"]
})