# 1 - Imports

In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
import sys
from pathlib import Path

sys.path.append(str(Path().resolve().parents[0]))

In [3]:
import os

In [4]:
import pandas as pd
from pickle import dump, load

In [5]:
from datetime import datetime

In [8]:
from src.utils import config, io

/Users/hippolytegrandet/Desktop/Dev/country_risk_rating/.venv/lib/python3.9/site-packages/pypdf/_crypt_providers/_cryptography.py:32: CryptographyDeprecationWarning: ARC4 has been moved to cryptography.hazmat.decrepit.ciphers.algorithms.ARC4 and will be removed from cryptography.hazmat.primitives.ciphers.algorithms in 48.0.0.
  from cryptography.hazmat.primitives.ciphers.algorithms import AES, ARC4

# 2 - Data Extraction

## 2.1 - OECD Rating

In [16]:
from src.extraction import build_oecd_dataset

### 2.1.1 - Yearly Rating Dataset

In [ ]:
oecd_rating_matrix_y = build_oecd_dataset.get_clean_oecd_rating_df(oecd_fname='02-02-2024', date_freq='Y')
oecd_rating_matrix_y

Reading CSV

,1999-01-01,2000-01-01,2001-01-01,2002-01-01,2003-01-01,2004-01-01,2005-01-01,2006-01-01,2007-01-01,2008-01-01,...,2014-01-01,2015-01-01,2016-01-01,2017-01-01,2018-01-01,2019-01-01,2020-01-01,2021-01-01,2022-01-01,2023-01-01
ISO3_COUNTRY_CODE,,,,,,,,,,,,,,,,,,,,,
AFG,7,7,-,-,-,-,-,-,-,7,...,7,7,7,7,7,7,7,7,7,7
ALB,7,7,7,7,7,7,6,6,6,6,...,6,6,6,6,6,6,5,5,5,5
DZA,6,6,5,5,4,4,4,3,3,3,...,3,3,3,4,4,4,4,5,5,5
AND,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
AGO,7,7,7,7,7,7,7,7,7,7,...,5,5,5,6,6,6,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VNM,6,6,6,6,5,5,5,5,5,4,...,5,5,5,5,5,5,4,4,4,4
PSE,-,-,-,-,-,-,-,-,-,-,...,7,7,7,7,7,7,7,7,7,7
YEM,7,7,7,6,6,6,6,6,6,6,...,7,7,7,7,7,7,7,7,7,7
ZMB,7,7,7,7,7,7,7,7,7,6,...,5,5,5,6,6,6,7,7,7,7
ZWE,5,6,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7

In [ ]:
io.save_csv(oecd_rating_matrix_y, config.INTERIM_DATA_DIR / 'oecd_rating_matrix_yearly.csv', index=True)

### 2.1.2 - Quarterly Rating Dataset

In [89]:
oecd_rating_matrix_q = build_oecd_dataset.get_clean_oecd_rating_df(oecd_fname='02-02-2024', date_freq='Q')
oecd_rating_matrix_q

Reading CSV

,1999-01-01,1999-04-01,1999-07-01,1999-10-01,2000-01-01,2000-04-01,2000-07-01,2000-10-01,2001-01-01,2001-04-01,...,2021-07-01,2021-10-01,2022-01-01,2022-04-01,2022-07-01,2022-10-01,2023-01-01,2023-04-01,2023-07-01,2023-10-01
ISO3_COUNTRY_CODE,,,,,,,,,,,,,,,,,,,,,
AFG,7,7,7,7,7,-,-,-,-,-,...,7,7,7,7,7,7,7,7,7,7
ALB,7,7,7,7,7,7,7,7,7,7,...,5,5,5,5,5,5,5,5,5,5
DZA,6,6,6,6,6,6,6,5,5,5,...,5,5,5,5,5,5,5,5,5,5
AND,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
AGO,7,7,7,7,7,7,7,7,7,7,...,6,6,6,6,6,6,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VNM,6,6,6,6,6,6,6,6,6,6,...,4,4,4,4,4,4,4,4,4,4
PSE,-,-,-,-,-,-,-,-,-,-,...,7,7,7,7,7,7,7,7,7,7
YEM,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
ZMB,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
ZWE,5,6,6,6,6,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7

In [90]:
io.save_csv(oecd_rating_matrix_q, config.INTERIM_DATA_DIR / 'oecd_rating_matrix_quarterly.csv', index=True)

## 2.2 - DBnomics Features

In [91]:
from src.extraction import dbnomics_fetch_indicators

In [92]:
dbnomics_df = dbnomics_fetch_indicators.get_data_dbnomics(
    indicators_file = 'selected_indicators_test', # selected_indicators
    date_freq='Y'
)
dbnomics_df

/Users/hippolytegrandet/Desktop/Dev/country_risk_rating/.venv/lib/python3.9/site-packages/dbnomics/__init__.py:334: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(objs=dataframes, sort=False)

Got a total of 4 indicators

/Users/hippolytegrandet/Desktop/Dev/country_risk_rating/.venv/lib/python3.9/site-packages/dbnomics/__init__.py:334: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(objs=dataframes, sort=False)

,WB-WDI-NY.ADJ.DPEM.GN.ZS,IMF-FM-GGR_G01_GDP_PT,IMF-FM-G_X_G01_GDP_PT,WB-WDI-NY.GDP.PCAP.CD
COUNTRY_PERIOD_INDEX,,,,
AFE-1990,3.059354,NaN,NaN,810.646700
AFE-1991,3.098059,NaN,NaN,858.727619
AFE-1992,2.107871,NaN,NaN,732.360418
AFE-1993,1.997545,NaN,NaN,715.892117
AFE-1994,1.974477,NaN,NaN,707.177202
...,...,...,...,...
ZWE-1985,NaN,NaN,NaN,648.668036
ZWE-1986,NaN,NaN,NaN,692.139958
ZWE-1987,NaN,NaN,NaN,726.620730
ZWE-1988,NaN,NaN,NaN,816.699473
ZWE-1989,NaN,NaN,NaN,841.563226

In [93]:
io.save_csv(dbnomics_df, config.INTERIM_DATA_DIR / 'dbnomics_dataset_extracted.csv', index=True)

# 3 - Preprocessing

In [94]:
from src.utils import templates

In [83]:
oecd_rating_matrix = io.load_csv(config.INTERIM_DATA_DIR / 'oecd_rating_matrix_yearly.csv', index_col=0)
oecd_rating_matrix

,1999-01-01,2000-01-01,2001-01-01,2002-01-01,2003-01-01,2004-01-01,2005-01-01,2006-01-01,2007-01-01,2008-01-01,...,2014-01-01,2015-01-01,2016-01-01,2017-01-01,2018-01-01,2019-01-01,2020-01-01,2021-01-01,2022-01-01,2023-01-01
ISO3_COUNTRY_CODE,,,,,,,,,,,,,,,,,,,,,
AFG,7,7,-,-,-,-,-,-,-,7,...,7,7,7,7,7,7,7,7,7,7
ALB,7,7,7,7,7,7,6,6,6,6,...,6,6,6,6,6,6,5,5,5,5
DZA,6,6,5,5,4,4,4,3,3,3,...,3,3,3,4,4,4,4,5,5,5
AND,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
AGO,7,7,7,7,7,7,7,7,7,7,...,5,5,5,6,6,6,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VNM,6,6,6,6,5,5,5,5,5,4,...,5,5,5,5,5,5,4,4,4,4
PSE,-,-,-,-,-,-,-,-,-,-,...,7,7,7,7,7,7,7,7,7,7
YEM,7,7,7,6,6,6,6,6,6,6,...,7,7,7,7,7,7,7,7,7,7
ZMB,7,7,7,7,7,7,7,7,7,6,...,5,5,5,6,6,6,7,7,7,7
ZWE,5,6,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7

In [84]:
oecd_countries = list(oecd_rating_matrix.index)

In [87]:
template_df = templates.get_template_yearly_df(oecd_countries, last_year=2023)
template_df

                      YEAR ISO3_COUNTRY_CODE
COUNTRY_PERIOD_INDEX
AFG-1999              1999               AFG
AFG-2000              2000               AFG
AFG-2001              2001               AFG
AFG-2002              2002               AFG
AFG-2003              2003               AFG
...                    ...               ...
ZWE-2019              2019               ZWE
ZWE-2020              2020               ZWE
ZWE-2021              2021               ZWE
ZWE-2022              2022               ZWE
ZWE-2023              2023               ZWE

[5025 rows x 2 columns]

In [95]:
dbnomics_df = io.load_csv(config.INTERIM_DATA_DIR / 'dbnomics_dataset_extracted.csv', index_col=0)
dbnomics_df

[autoreload of src.utils.templates failed: Traceback (most recent call last):
  File "/Users/hippolytegrandet/Desktop/Dev/country_risk_rating/.venv/lib/python3.9/site-packages/IPython/extensions/autoreload.py", line 276, in check
    superreload(m, reload, self.old_objects)
  File "/Users/hippolytegrandet/Desktop/Dev/country_risk_rating/.venv/lib/python3.9/site-packages/IPython/extensions/autoreload.py", line 475, in superreload
    module = reload(module)
  File "/Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/importlib/__init__.py", line 169, in reload
    _bootstrap._exec(spec, module)
  File "<frozen importlib._bootstrap>", line 613, in _exec
  File "<frozen importlib._bootstrap_external>", line 850, in exec_module
  File "<frozen importlib._bootstrap>", line 228, in _call_with_frames_removed
  File "/Users/hippolytegrandet/Desktop/Dev/country_risk_rating/src/utils/templates.py", line 4, in <module>
    from src import config
ImportError: cannot import name 'config' from 'src' (unknown location)
]

,WB-WDI-NY.ADJ.DPEM.GN.ZS,IMF-FM-GGR_G01_GDP_PT,IMF-FM-G_X_G01_GDP_PT,WB-WDI-NY.GDP.PCAP.CD
COUNTRY_PERIOD_INDEX,,,,
AFE-1990,3.059354,NaN,NaN,810.646700
AFE-1991,3.098059,NaN,NaN,858.727619
AFE-1992,2.107871,NaN,NaN,732.360418
AFE-1993,1.997545,NaN,NaN,715.892117
AFE-1994,1.974477,NaN,NaN,707.177202
...,...,...,...,...
ZWE-1985,NaN,NaN,NaN,648.668036
ZWE-1986,NaN,NaN,NaN,692.139958
ZWE-1987,NaN,NaN,NaN,726.620730
ZWE-1988,NaN,NaN,NaN,816.699473
ZWE-1989,NaN,NaN,NaN,841.563226

In [ ]:
dbnomics_df_subset = dbnomics_df[dbnomics_df.index.isin(template_df.index)]
dbnomics_df_selected = template_df.join(dbnomics_df_subset)
dbnomics_df_selected = dbnomics_df_selected[dbnomics_df_selected['ISO3_COUNTRY_CODE'].isin(oecd_countries)]
dbnomics_df_selected

,YEAR,ISO3_COUNTRY_CODE,WB-WDI-NY.ADJ.DPEM.GN.ZS,IMF-FM-GGR_G01_GDP_PT,IMF-FM-G_X_G01_GDP_PT,WB-WDI-NY.GDP.PCAP.CD
COUNTRY_PERIOD_INDEX,,,,,,
AFG-1999,1999,AFG,NaN,NaN,NaN,NaN
AFG-2000,2000,AFG,NaN,NaN,NaN,180.188369
AFG-2001,2001,AFG,NaN,NaN,NaN,142.903364
AFG-2002,2002,AFG,NaN,NaN,NaN,182.174038
AFG-2003,2003,AFG,NaN,9.825829,11.927498,199.643227
...,...,...,...,...,...,...
ZWE-2019,2019,ZWE,1.615829,11.679453,14.322999,1421.868596
ZWE-2020,2020,ZWE,1.683197,13.275289,13.770142,1372.696674
ZWE-2021,2021,ZWE,NaN,15.348020,18.572858,1773.920411
ZWE-2022,2022,ZWE,NaN,16.598777,21.476258,1676.821489
ZWE-2023,2023,ZWE,NaN,14.648601,19.968292,1592.416574

In [100]:
io.save_csv(dbnomics_df_selected, config.PROCESSED_DATA_DIR / 'features_dataset.csv', index=True)